# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  node: circleci/node@4.7
  codecov: codecov/codecov@3.2.2

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
jobs:
  tests:
    docker:
      - image: cimg/node:17.4.0
    steps:
      - checkout
      - node/install-yarn
      - run:
          name: Show node version
          command: |
            node --version
            yarn --version
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Run lint check
          command: yarn lint
      - run:
          name: Run test and coverage check
          command: yarn cover
      - codecov/upload:
          file: coverage/*.json
      - run:
          name: Chromatic Deploy
          command: yarn chromatic --project-token=${CHROMATI_TOKEN}

workflows:
  ci:
    jobs:
      - tests

  #sample: # This is the name of the workflow, feel free to change it to better match your workflow.
  # Inside the workflow, you define the jobs you want to run.
  # This is the node version to use for the `cimg/node` tag
  # Relevant tags can be found on the CircleCI Developer Hub
  # https://circleci.com/developer/images/image/cimg/node
  #  version: '16.10'
  # If you are using yarn, change the line below from "npm" to "yarn"
  #  pkg-manager: npm
  # - node/test:
  # - more comments
